

	{% block content %}
	{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style1.css' %}">	
    <title>Document</title>
</head>

<body>
    <div class="container">
        
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
            <h1>Formulaire d'inscription</h1>
            <div class="content">
                <div class="input-box">
                    <label for="">Nom utilisateur</label>
                     {{profil_form.username}}

                </div>
                <div class="input-box">
                    <label for="">Nom</label>
                       {{profil_form.nom}}

                </div>
                <div class="input-box">
                    <label for="">Prenom</label>
                       {{profil_form.prenom}}

                </div>
                <div class="input-box">
                    <label for="">Mots de pass</label>
                    {{profil_form.password}}
                </div>
                
                <div class="input-box">
                    <label for="">Confirme le mots de pass</label>
                      {{profil_form.password1}}
                </div>
                <div class="input-box">
                    <label for="">Date de naissance</label>
                    {{profil_form.birthday}}

                </div>
                <div class="input-box">
                    <label for="">Genre</label> 
                    {{profil_form.gender}}
                </div>
                <div class="input-box">
                    <label for="">Numero de telephone</label>
                    {{profil_form.phone}}

                </div>
                <div class="input-box">
                    <label for="">Adresse</label> 
                      {{profil_form.address}}

                </div>


                
            </div>
            <div class="button-container">
                <button>Register</button>
            </div>
        </form>
    </div>
</body>
</html>


{% endblock %}