{% extends "base.html" %}

	{% block content %}
<div class="all" >
<div class="container1 " style="margin-left: 2cm;">
		<div class="text">Formulaire d'inscription</div>
		<form method="POST" action="." enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-row">
				<div class="input-data">
					<div class="underline"></div>
					<label for="">Nom utilisateur</label><br>
						{{profil_form.username}}
					
				</div>
				<div class="input-data">
					<div class="underline"></div>
					<label for="">Nom</label><br>
					{{profil_form.nom}}
					
				</div>
					<div class="input-data">
						<div class="underline"></div>
					<label for="">Prenom</label><br>
					{{profil_form.prenom}}
					
				</div>
			</div>
			<div class="form-row">
				<div class="input-data">
					<div class="underline"></div>
					<label for="">Mots de pass</label><br>
					{{profil_form.password}}
					
				</div>
					<div class="input-data">
						<div class="underline"></div>
					<label for="">Confirme le mots de pass</label><br>
					{{profil_form.password1}}
					
				</div>
				<div class="input-data">
					<div class="underline"></div>
					<label for="">Date de naissance</label><br>
					{{profil_form.birthday}}
					
				</div>
			</div>
			<div class="form-row">
				<div class="input-data">
					<div class="underline"></div>
					<label for="">Phone Number</label><br>
					{{profil_form.phone}}
					
				</div>
				<div class="input-data">
					<div class="underline"></div>
					<label for="">Gender</label> <br>
					{{profil_form.gender}}
					
				</div>
				<div class="input-data">
					<div class="underline"></div>
					<label for="">Adresse</label> <br>
					{{profil_form.address}}
					
				</div>
			</div>
			<div class="form-row">
				<div class="input-data textarea">
					<p>Vous avez un compte? <a href="{% url 'login_view' %}">Se Connecter</a></p>
					<div class="form-row submit-btn">
						<div class="input-data">
							<div class="inner"></div>
							<input type="submit" value="Creer">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
        <div class="col-lg-6">

            <img src="https://media.istockphoto.com/id/104731717/fr/photo/centre-de-vill%C3%A9giature-de-luxe.jpg?s=612x612&w=0&k=20&c=qn-Ugr3N5J_JBKZttni3vimlfBOd52jWG3FouENXye0=" alt="" class="img-fluid img-reponsive">

        </div>
    

{% endblock %}